 
/*  
Color: Black
Width: 200px
Height: 2px
Position: Absolute
Top and left positioning: 50% (centered on the screen)
Change the angle 2deg every 20 milliseconds
*/

#line{
	position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 2px;
      background-color: black;
      transform-origin: 50%;
}
